.centralestetexto{
    text-align: center;


}

#parrafo2{
    color:rgb(255, 73, 182);
}

#parrafo3{
    color:rgba(196, 29, 218, 0.767);
}


    .centralestetexto{
        text-align: center;
}




#porta4{
    color:rgba(196, 29, 218, 0.767);
}
